body {
  background-color: rgb(202,255,189);
}

html {
  background-color: rgb(202,255,189);
  background-image: url(/img/tomato.gif);
}

img {
  height: 20rem;
  min-height: 200%;
}

h1 { 
  font-family: 'Prata', serif;
  font-size: 3rem;
  text-align: center;
  background-color: white;
}

h3 {
 color: rgb(114,160,193);
 text-align: center;
 background-color: antiquewhite;
}

#pizzaPrice {
  font-size: larger;
  color: darkred;
}
button {
  background-color: rgb(114,160,193);
  border-radius: 1rem;
}
 form {
   background-color: white;
 }

 h6 {
   background-color: antiquewhite;
 }
 